*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("./images/pngtree-seamless-repeat-pattern-with-flowers-and-leaves-scandinavian-childish-drawing-background-image_329827.jpg");
    Background-repeat: repeat; 
}
.nav{
    background-color: rgb(0, 225, 255);
    
    position: fixed;
    width: 100%;


    /* float: right; */
    /* display: inline; */
    
    
}
.nav a {
    /* float: left; */
    color: #882828;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }



#src_card{
    background-color: rgb(27, 2, 11);
}


.count{
    position: relative;
    left:85%;
    top:50%;
    /* bottom: 50%; */
}
.card{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 18px;
    background-color: rgba(177, 216, 226, 0.87);
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    min-width: 40px;
}

#src_card{
    display: flex;
    flex-wrap: wrap;
    background-image: url("./images/pngtree-seamless-repeat-pattern-with-flowers-and-leaves-scandinavian-childish-drawing-background-image_329827.jpg");
    Background-repeat: repeat; 
}

.card :hover{
    box-shadow: 5px 5px 10px rgba(192, 46, 46, 0.3);
}


